.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}#status-pedido {

    font-size: 20px;
    
    background: #ccc;
    
    color: #fff;
    
    padding: 30px;
    
    width: 100%;
    
    }
    
    @media screen and (min-width: 30em) {
    
    .w-70 {
    
    width: 70%;
    
    }
    
    }
    
    #bloco-confirma {
    
    border-radius: .5rem;
    
    background: #e8fdf5;
    
    padding: 2rem;
    
    border: 1px solid #19a974;
    
    }
